.chart-plot-background {
    -fx-background-image: url('powerUpHalfField.png');
    -fx-background-position: 0 0;
    -fx-background-repeat: stretch;
    -fx-background-size: cover, auto;
}

.chart-symbol {
    -fx-background-radius: 3px;
    -fx-padding: 2px ;
}