#backdrop {
    -fx-background-image: url('ddsHalfField.png');
    -fx-background-position: 0 0;
    -fx-background-repeat: stretch;
    -fx-background-size: cover, auto;
}


.root {
    /*-fx-fill: transparent,*/
    -fx-background-color: #D3D3D333,
    linear-gradient(from 0.5px 0.0px to 10.5px  0.0px, repeat, black 5%, transparent 5%),
    linear-gradient(from 0.0px 0.5px to  0.0px 10.5px, repeat, black 5%, transparent 5%);
}
